{% extends 'base.html' %}
{% load static %}

{% block body %}

<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Recieved Card -->


                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">


                            <div class="card-body">
                                

                                <table class="table table-borderless datatable table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col"> Branchs</th>
                                            <th scope="col"> Shipments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in object_list %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td><a class="text-reset text-decoration-none" href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a></td>
                                            <td>{{ customer.branch_customers.all|length }}</td>
                                            <td>{{ customer.branch_customers.shipments_company.all|length }}</td>
                                           
                                        </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- End Recent Sales -->

                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->



{% endblock %}

