{% extends 'base.html' %} {% load static %} {% load i18n %} {% block body %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>{% translate "Dashboard" %}</h1>
  </div>
  <!-- End Page Title -->
  <div class="pagetitle">
    <a href="{% url 'shipment_create' %}">
      <button type="button" class="btn btn-primary">
        {% translate "Recent shipments"%}
      </button>
    </a>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">{% translate "Shipments list" %}<span>| Today</span></h5>

                <table class="table table-borderless table-bordered datatable table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{% translate "driver" %}</th>
                      <th scope="col">{% translate "Customer" %} </th>
                      <th scope="col">{% translate "Bransh" %} </th>
                      <th scope="col">{% translate "Waybill" %} </th>
                      <th scope="col">{% translate "Source" %} </th>
                      <th scope="col">{% translate "Destination" %} </th>
                      <th scope="col">{% translate "User" %} </th>
                      <th scope="col">{% translate "Status" %} </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for shipment in object_list %}
                    <tr>

                      <th scope="row"><a href="{% url 'shipment_detail' shipment.id %}"
                          style="text-decoration: none;">{{shipment.id}}</a></th>

                      <th scope="row"><a href="#" class="link-dark"
                          style="text-decoration: none;">{{shipment.driver}}</a></th>

                      <th scope="row"><a href="#" class="link-dark"
                          style="text-decoration: none;">{{shipment.customer_branch.customers}}</a></th>
                      <th scope="row"><a href="#" class="link-dark"
                          style="text-decoration: none;">{{shipment.customer_branch.name}}</a></th>
                      <td>
                        <a href="{% url 'shipment_detail' shipment.id %}" target="_blank">
                          <i class="bi bi-receipt"></i>
                        </a>
                      </td>
                      <td>{{shipment.customer_branch.city}} </td>
                      <td> {{shipment.destination}}</td>
                      <td>{{shipment.user}}</td>

                      <td>
                        <a href="{% url 'change_stutus_detail' shipment.id  %}" class="btn 
                        {% if shipment.status == 'Recieved' %} btn-primary 
                        {% elif shipment.status == 'Processed' %} btn-secondary 
                        {% elif shipment.status == 'Shipped' %} btn-info 
                        {% elif shipment.status == 'Delivered' %} btn-primary 
                        {% elif shipment.status == 'Feedback' %} btn-warning  
                        {% elif shipment.status == 'Completed' %} btn-success  
                        {% elif shipment.status == 'Late' %} btn-danger  
                        {% endif %}
                        ">{{shipment.status}}</a>
                        </td>
                      </td>
                      </td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <!-- End Recent Sales -->

        </div>
      </div>
      <!-- End Left side columns -->



    </div>
    <!-- End Right side columns -->

    </div>
  </section>

</main>
<!-- End #main -->



{% endblock %}