{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
      <div class="row">
  
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">{% translate "Recent shipments" %}<span>| Today</span></h5>
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">driver</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Destination</th>
                        <th scope="col">User</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for shipment in object_list %}
                      <tr>
                        <th scope="row"><a href="#">#{{shipment.id}}</a></th>
                        <th scope="row"><a href="#">{{shipment.driver}}</a></th>
                        <th scope="row"><a href="#">{{shipment.customer_branch}}</a></th>
                        <td>{{shipment.customer_branch.city}} - {{shipment.destination}}</td>
                        <td>{{shipment.user}}</td>
                        <td><span class="badge 
                          {% if shipment.status == 'Recieved' %} bg-primary 
                          {% elif shipment.status == 'Processed' %} bg-secondary 
                          {% elif shipment.status == 'Shipped' %} bg-info 
                          {% elif shipment.status == 'Delivered' %} bg-primary 
                          {% elif shipment.status == 'Feedback' %} bg-warning  
                          {% elif shipment.status == 'Completed' %} bg-success  
                          {% elif shipment.status == 'Late' %} bg-danger  
                          {% endif %}">{{shipment.status}}</span></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
  
              </div>
            </div><!-- End Recent Sales -->
  
          </div>
        </div><!-- End Left side columns -->
  
      
  
        </div><!-- End Right side columns -->
  
      </div>
    </section>
  
  </main><!-- End #main -->



{% endblock %}