{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 


{% block body %}
<main id="main" class="main">
  <page size="A4">
    <div class="container">
      <div class="row">
        <div class="col-6 p-2">
          مؤسسة الجيــد للنقليات
          <br />
          الدمـــام - 0552485655
          <br />
          جــــــــدة - 0552485655
          <br />
          الرياض - 0552485655
          <br />
        </div>
        <div class="col-6">
          <img src="/logo_footer.png" class="img-fluid logo" alt="" />
        </div>
      </div>

      <div class="row">
        <button type="button" class="btn btn-secondary btn-lg">
          بيانات الشحنة
        </button>

        <div class="col-4"></div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">رقم الشحنة</th>
              <th scope="col">مدينة التحميل</th>
              <th scope="col">مدينة التنزيل</th>
              <th scope="col">تاريخ التحميل</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{object.id}}</th>
              <td>{{object.customer_branch.city}}</td>
              <td>{{object.destination}}</td>
              <td>{{object.create_at}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button type="button" class="btn btn-secondary btn-lg">المرسل</button>

        <div class="col-4"></div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">اسم الشركة</th>
              <th scope="col">العنوان الرئيسي</th>
              <th scope="col">العنوان الفرعي</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{object.customer_branch.id}}</th>
              <td>{{object.customer_branch.name}}</td>
              <td>{{object.customer_branch.city}}</td>
              <td>{{object.customer_branch.city}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button type="button" class="btn btn-secondary btn-lg">المستلم</button>

        <div class="col-4"></div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">اسم العميل</th>
              <th scope="col">العنوان الرئيسي</th>
              <th scope="col">العنوان الفرعي</th>
              <th scope="col">رقم الهاتف</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">652</th>
              <td>مستودع النهدي</td>
              <td>الدمام</td>
              <td>الشارع العام</td>
              <td>0552485655</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button type="button" class="btn btn-secondary btn-lg">السائق</button>

        <div class="col-4"></div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">اسم السائق</th>
              <th scope="col">نوع الشاحنة</th>
              <th scope="col">رقم اللوحة</th>
              <th scope="col">رقم الهاتف</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">driver.id</th>
              <td>{{object.driver.name}}</td>
              <td>{{object.driver.truck_type}}</td>
              <td>{{object.driver.truck_type}}</td>
              <td>{{object.driver.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-4"></div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">الموظف المسؤول</th>
              <th scope="col">توقيع السائق</th>
              <th scope="col">توقيع المستلم</th>
              <th scope="col">المحاسبة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{object.user}}</th>
              <td>{{object.driver}}</td>
              <td>..........................</td>
              <td>..........................</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row"><br /><br /></th>
              <td><br /><br /></td>
              <td><br /><br /></td>
              <td><br /><br /></td>
            </tr>
          </tbody>
        </table>

        <img
          src="{{ object.code.url }}"
          class="rounded mx-auto d-block qr"
          target="_blank"
          alt="..."
          style="
            max-width: 120px;
          "
        />
      </div>
    </div>
  </page>
</main>
{% endblock %}
