{% extends 'base.html'%}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
    <button type="button" class="btn btn-primary mx-2">قيد المعالجة </button>
    <button type="button" class="btn btn-secondary mx-2">قيد التحميل</button>
    <button type="button" class="btn btn-success mx-2">قيد التسليم </button>
</div>

<div class="container">
    <table class="table table-striped table-hover table-bordered my-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">رقم الشحنة</th>
                <th scope="col">اسم السائق</th>
                <th scope="col">العميل</th>
                <th scope="col">الاجرة</th>
                <th scope="col">المسار</th>
                <th scope="col">تاريخ التحميل</th>
                <th scope="col">تاريخ التنزيل</th>
                <th scope="col">حالة الشحنة </th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ shipment.id }}</td>
                <td>{{ shipment.driver }}</td>
                <td>{{ shipment.customer_branch.customers }}</td>
                <td>{{ shipment.fare }}</td>
                <td>{{ shipment.customer_branch.city }} - {{ shipment.destination }} </td>
                <td>{{ shipment.create_at }}</td>
                <td>{{ shipment.expected_arrival_date }}</td>
                <td style="font-size: 15px;">{{ shipment.status }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}